<!-- <p>create-crq works!</p> -->
<div class="h-full surface-0">

    <p-toast />

    <div class="w-full p-3 text-center">
        <!-- <h4 class="p-1 font-light">Hi Welcome Back, {{username}}</h4> -->
        <h4 class="p-1 font-light">Hi {{this.username}}, Welcome</h4>
        <p class="p-1 font-light text-gray-600 text-lg">
            Track and manage your change requests and deployments in real time.
        </p>
    </div>
    <p-divider />

    <!-- CREATE CRQ BUTTON HERE -->
    <!--    <div class="w-full flex justify-content-center align-items-center" style="height:100px;">-->

    <!--        <div class="card flex justify-center mr-5">-->
    <!--            <input style="height: 40px;" class="font-light text-xl" type="text" pInputText [(ngModel)]="crqNumber" />-->
    <!--        </div>-->

    <!--        <p-button class="createCRQbtn" label="Start CRQ" variant="outlined" severity="danger"-->
    <!--            (onClick)="createCRQFun()"></p-button>-->
    <!--    </div>-->

    <!-- <p-dialog header="Orbit Analysis" [modal]="true" [(visible)]="visible" [position]="position"
        [style]="{ width: '50rem' }">

        <div class="card">
            <p-table [columns]="cols" [value]="predictResp" [tableStyle]="{ 'min-width': '55rem' }">
                <ng-template #header let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{ col.header }}
                        </th>
                    </tr>
                </ng-template>
                <ng-template #body let-rowData let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns">
                            {{ rowData[col.field] }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <div class="flex justify-end gap-4">
                <br>
                <p-button label="Cancel" severity="secondary" (click)="visible = false" />
                <p-button label="continue" routerLink="/sm-tasklist" />
            </div>
        </div> -->


    <!-- TABLE ENDS HERE -->

    <!-- <span class="text-surface-500 dark:text-surface-400 block mb-8">Update your information.</span>
      <div class="flex items-center gap-4 mb-4">
        <label for="username" class="font-semibold w-24">Username</label>
        <input pInputText id="username" class="flex-auto" autocomplete="off" />
      </div>
      <div class="flex items-center gap-4 mb-8">
        <label for="email" class="font-semibold w-24">Email</label>
        <input pInputText id="email" class="flex-auto" autocomplete="off" />
      </div>
      <div class="flex justify-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="visible = false" />
            <p-button label="Save" (click)="visible = false" />
      </div> -->
    <!-- </p-dialog> -->

    <!-- FILE UPLOAD & COMPONENT DROPDOWN HERE -->

    <div class="create-crq-form">
        <div class="grid">
            <!-- <div class="col-5" style="border: 1px solid blue;"> -->
            <div class="col-5">
                <!-- Hidden PrimeNG file upload -->
                <p-fileUpload #fileUploader mode="advanced" [customUpload]="true"
                    accept=".xls,.xlsx,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                    [showUploadButton]="false" [showCancelButton]="false" [auto]="false" [style]="{ display: 'none' }"
                    (onSelect)="onUpload($event)" maxFileSize="1000000" mode="advanced">
                </p-fileUpload>

                <!-- Your buttons -->
                <div class="upload-actions ml-4 flex align-items-center gap-3">
                    <!--Create CRQ-->
                    <button pButton type="button" icon="pi pi-plus" label="Create CRQ " class="p-button-success mr-4"
                        (click)="openCrqForm()">
                    </button>
                    <!-- Upload -->
                    <button pButton type="button" icon="pi pi-upload" label="Upload CRQ File"
                        class="p-button-success mr-4" (click)="fileUploader.choose()">
                    </button>
                    <!-- Cancel -->
                    <button pButton type="button" icon="pi pi-times" label="Cancel"
                        class="p-button-outlined p-button-secondary" (click)="onCancelUpload()">
                    </button>
                </div>

                <!-- ✅ Dynamic error message (ADD THIS) -->
                <div *ngIf="fileUploadError" class="p-message p-message-error p-mt-2 ml-4">
                    <!-- <span class="p-message-icon pi pi-times-circle"></span> -->
                    <span class="p-message-text">{{ fileUploadError }}</span>
                </div>

                <!-- RIGHT SIDE UPLOAD (SHOW ONLY AFTER SUCCESS) -->
                <div class="upload-actions ml-4 right-upload" *ngIf="showUploadedCrqTable">

                    <input type="file" #rotaInput hidden accept=".xls,.xlsx" (change)="onRotaFileSelect($event)" />

                    <button pButton type="button" icon="pi pi-upload" label="Upload ROTA File" class="p-button-success"
                        (click)="rotaInput.click()">
                    </button>

                    <button pButton type="button" icon="pi pi-times" label="Cancel" class="rota-cancel-btn"
                        (click)="onCancelRotaUpload(rotaInput)">
                    </button>

                </div>

                <!--                <p-fileupload #fileUploader class="fileup" customUpload="true" (uploadHandler)="onUpload($event)"-->
                <!--                    [multiple]="false"-->
                <!-- accept=".xls,.xlsx,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" -->
                <!-- maxFileSize="1000000" mode="advanced"> -->
                <!--                    &lt;!&ndash; <ng-template #empty>-->
                <!--                            <div>Drag and drop files to here to upload.</div>-->
                <!--                        </ng-template> &ndash;&gt;-->
                <!--                </p-fileupload>-->

            </div>
            <div class="col-3">

                <!-- <div *ngIf="showAiBell" style="margin-top: 6px;margin-right: 10px;">
                    <i (click)="showAIresponse('topright')" class="pi pi-bell"
                        style="font-size: 1.7rem; margin-top: 5px;margin-right: 10px;"></i>
                </div> -->

                <div *ngIf="showAiBell" style="margin-top: 6px;margin-right: 10px;">
                    <p-button class="createCRQbtn" label="Prediction" variant="outlined" severity="danger"
                        (onClick)="showAIresponse('topright')"></p-button>
                </div>
            </div>
            <!-- <div class="col-4" style="border: 1px solid blue;"> -->

            <!-- <div class="col-4">
                <p-autocomplete placeholder="Select Application" class="m1" [(ngModel)]="selectedComponent"
                    [dropdown]="true" [suggestions]="items" (completeMethod)="search($event)"
                    (ngModelChange)="select($event)" />
            </div> -->

        </div>
    </div>
    <br>

    <!-- TAKS TABLE HERE -->

    <!-- <div class="card" *ngIf="showUploadedCrqTable"> -->
    <!-- <div class="table-wrapper" *ngIf="true"> -->
    <div *ngIf="showUploadedCrqTable">

        <p-table [columns]="uploadedCrqMaincols" class="font-light" [value]="uploadedCrqMainValue" [paginator]="false"
            [rows]="5" [tableStyle]="{ 'min-width': '55rem' }" [rowsPerPageOptions]="[5, 10, 20]">

            <ng-template #body let-rowData let-columns="columns" let-rowIndex="rowIndex">
                <tr *ngFor="let col of columns;">
                    <td>
                        <span class="inline-block w-25rem font-medium">{{col.header}}</span>
                        <!-- <span>{{ rowData[col.field] }}</span> -->
                        <span>
                            <!-- {{ rowData[col.field] }} -->
                            @if (col.field === 'lastUpdatedDateTime') {
                            {{ convertDate(rowData[col.field]) }}
                            }
                            @else {
                            {{ rowData[col.field] }}
                            }
                        </span>
                    </td>
                </tr>
            </ng-template>

        </p-table>

    </div>

    <div>
        <br>
    </div>

    <div class="card" *ngIf="showUploadedCrqTable">

        <p-table [columns]="uploadedCrqcols" class="font-light" [value]="uploadedCrqValue" [paginator]="true" [rows]="5"
            [tableStyle]="{ 'min-width': '55rem' }" [rowsPerPageOptions]="[5, 10, 20]">
            <ng-template #header let-columns>
                <tr>
                    <th *ngFor="let col of columns">{{ col.header }}</th>
                </tr>
            </ng-template>
            <!-- <ng-template #body let-rowData let-columns="columns" let-rowIndex="rowIndex">
                <tr>
                    <td *ngFor="let col of columns">
                        {{ rowData[col.field] }}
                    </td>
                </tr>
            </ng-template> -->
            <ng-template #body let-rowData let-columns="columns" let-rowIndex="rowIndex">
                <tr>
                    <td *ngFor="let col of columns">

                        @if (col.field === 'srNo') {
                        {{ rowIndex + 1 }}
                        }
                        @else if (col.field==='customerImpact' || col.field === 'serviceOutage') {
                        {{rowData[col.field] ? 'YES' : 'NO'}}
                        }
                        @else {
                        {{ rowData[col.field] }}
                        }
                    </td>
                </tr>
            </ng-template>

        </p-table>

        <br>
        <br>
    </div>

    <!-- SEND TASKS -->
    <div *ngIf="showUploadedCrqTable" class="w-full flex justify-content-center align-items-center surface-0"
        style="height:100px;">

        <p-button class="createcrqbtn" label="Start CRQ" variant="outlined" severity="danger"
            (onClick)="startProcessInstance()" [disabled]="disableStartBtn"></p-button>

        <!-- <p-button class="send-tasks-btn" label="Send Tasks" severity="success" (onClick)="sendTasks()" [loading]="isLoading"></p-button> -->
    </div>


    <!-- SET DEPENDENCIES
    <div *ngIf="selectedComponent!=''" class="w-full flex justify-content-end align-items-center" style="height:100px;">
        <p-button class="send-tasks-btn" label="Set Dependencies" severity="success" (onClick)="setDependencies()" />
    </div> -->

</div>